.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.box {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-style {
  color: var(--accent-color);
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.menu-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  color: var(--accent-color);
}

.menu-link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 29px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contat-item:not(:last-child) {
  margin-right: 50px;
}

.contact-us {
  display: flex;
  align-items: center;
  margin-right: 30px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-us-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-us:hover,
.contact-us:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
